<div>
    <h2>Clients</h2>
    <button data-ng-click="vm.openCreateClientArea()">Create</button>
    <form data-ng-if="vm.editClientAreaOpened" novalidate>
        <span>Name</span>
        <input type="text" data-ng-model="vm.client.name">
        <span>E-mail</span>
        <input type="email" data-ng-model="vm.client.email">
        <span>Age</span>
        <input type="number" data-ng-model="vm.client.age">
        <button data-ng-click="vm.createClient()">Save</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="client in vm.clients">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.age}}</td>
                <td>
                    <button data-ng-click="vm.editClientPageGo(client)">Edit</button>
                </td>
                <td>
                    <button>Delete</button>
                </td>
                <td>
                    <button>Addresses +</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>