<!DOCTYPE html>
<html>

<head>
    <base href="/" />
    <link media="all" rel="stylesheet" href="assets/stylesheets/libs.css">
    <link media="all" rel="stylesheet" href="assets/stylesheets/app.css">
    <title>CRUD - People</title>
</head>

<body class="" data-ng-app="appCrud">
    <div ui-view></div>
    <!-- Libs -->
  <script src="assets/javascripts/vendor.js"></script>
  <script src="assets/templates/templates.js"></script>
  <script src="assets/javascripts/scripts.js"></script>
</body>

</html>