<!DOCTYPE html>
<html>

<head>
    <base href="/" />
    <link media="all" rel="stylesheet" href="">
    <title>CRUD - People</title>
</head>

<body class="" data-ng-app="appCrud">
    <div ui-view></div>
    <!-- Libs -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="/app-crud/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <script src="/app-crud/node_modules/angular-resource/angular-resource.js"></script>
    <!-- Modules -->
    <script src="/app-crud/app-web/app.module.js"></script>
    <script src="/app-crud/app-web/app.route.js"></script>
    <!-- Controllers -->
    <script src="/app-crud/app-web/screens/clients/clients.controller.js"></script>
    <!-- Services -->
    <script src="/app-crud/app-web/services/dataAppCrud.service.js"></script>
</body>

</html>